a:hover {
  color: grey;
}

.artist_name {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 20px;
  letter-spacing: -0.5px;
  margin-top: 50px;
}

.artist_name > a > p {
  margin-bottom: 12px;
  clear: left;
}

.artist_works > ul {
  list-style: none;
  display: flex;
  margin-bottom: 50px;
}

.artist_works > ul > li > a > img {
  width: 250px;
  margin-right: 12px;
}

.artist_works > ul > li > a > img:hover {
  animation: imgani;
  animation-duration: 1s;
  animation-direction: alternate;
}
@keyframes imgani {
  0% {
    filter: brightness(1);
  }
  30% {
    filter: brightness(1.4);
  }
  100% {
    filter: brightness(1);
  }
}

.artist_works > hr {
  width: 50%;
  float: left;
  margin-bottom: 50px;
  background-color: rgb(212, 212, 212);
  border: 0;
  height: 1.5px;
}

@media screen and (max-width: 768px) {
  .artist_name {
    font-size: 25px;
  }

  .artist_name > a > p {
    margin-bottom: 25px;
    clear: left;
  }

  .artist_works > ul {
    display: inline;
  }

  .artist_works > ul > li > a > img {
    width: 100%;
  }
  .artist_works > ul > li {
    margin-top: 10px;
  }

  .artist_works > hr {
    width: 100%;
    margin-top: 50px;
  }
}
