@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-y: auto;
}

html {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
  transition: all 0.2s ease;
}

a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
  text-decoration: none;
}
a:hover {
  color: grey;
  text-decoration: none;
  transition: all 0.2s ease;
}

p {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  height: 70px;
  text-align: center;
  font-size: 15px;
  position: fixed;
  background-color: rgb(245, 245, 245);
  z-index: 1;
}

.header ul {
  list-style: none;
  display: inline-block;
  display: flex;
}

.header ul li {
  padding: 30px;
}

.header ul li img {
  margin-top: -15px;
  text-align: center;
}

.main-menu li {
  margin-top: -35px;
  float: left;
  cursor: pointer;
}

.main-menu li ul {
  margin-top: 15px;
  padding-top: 30px;
  left: 0;
}

.sub-menu {
  position: absolute;
  background-color: rgb(245, 245, 245);
  opacity: 0;
  visibility: hidden;
  font-size: 15px;
  width: 100%;
}

.main-menu li:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  animation-name: submenu;
  animation-duration: 1s;
  animation-direction: alternate;
}
@keyframes submenu {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}

.bodydefault {
  padding-top: 120px;
}

.main {
  padding-top: 100px;
}

.Main_section {
  padding: 35px;
  padding-bottom: 80px;
  height: 100vh;
}

.Thumb_section {
  display: flex;
  margin-top: 50px;
}

input {
  width: 90%;
  padding: 15px;
  border-radius: 50px;
  border-color: grey;
  border: 0.1px solid;
}

.searchbar {
  float: left;
  width: 40%;
}

.filter_menu ul {
  list-style: none;
  display: flex;
}

footer {
  text-align: center;
  background-color: rgb(245, 245, 245);
  letter-spacing: -1px;
  width: 100%;
  height: 80px;
}

.footer_info {
  padding: 25px 0;
}

@media screen and (max-width: 768px) {
  .Main_section {
    height: auto;
    display: inline-block;
  }

  .Thumb_section {
    display: inline-block;
  }
}
