.thumb {
  width: 426px;
  height: 240px;
  /* border: 1px solid #000; */
  margin: 15px;
  overflow: hidden;
}

.thumb_info {
  width: 426px;
  height: 50px;
  /* border: 1px solid #000; */
  margin-left: 15px;
  margin-top: -7px;
  letter-spacing: -1px;
}

.thumb_info ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.thumball img {
  width: 426px;
  transition: all 0.5s ease;
}

.thumball:hover img {
  transform: scale(1.2);
  filter: brightness(1.3);
  transition: all 0.5s ease;
}

.title_name {
  font-size: 50px;
  font-weight: 900;
  letter-spacing: -2px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.title_name_small {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -1px;
  margin-top: -30px;
  margin-bottom: 20px;
}

.title_desc {
  font-size: 17px;
  font-weight: 300;
  letter-spacing: -0.5px;
}

.title_maker {
  margin-top: -30px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -2px;
}

.title_works {
  letter-spacing: -2px;
  margin-top: 200px;
  font-weight: 500;
  font-size: 20px;
  clear: left;
}

.utterances {
  max-width: 95% !important;
  float: left;
  margin-left: 35px;
  margin-top: 35px;
}

.video_hr {
  background-color: rgb(236, 236, 236);
  border: 0;
  height: 1.5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .thumb {
    width: 96%;
    height: auto;
  }
  .thumb_info {
    width: 90%;
  }

  .thumball img {
    width: 96%;
  }

  .thumball:hover img {
    transform: scale(1);
  }
}
